<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4" ng-repeat="kind in gnc.data">
      <div class="card-body">

        <%= angular_safe_link_to(
          :kind_items,
          { kind_slug: '{{kind.slug}}'}) do %>
          <h5 class="card-title">{{kind.name}}</h5>
          <img src="{{kind.snap_url}}" class="img-fluid" alt="Snapshot">
        <% end %>
      </div>
    </div>
  </div>
</div>
