<div class="container">
  <%=
    angular_safe_link_to(
      :new_kind, {},
      class: 'btn btn-primary',
      "ng-show" => "gnc.global_state.logged"
    ) do
      'New'
    end
  %>

  <div class="row">
    <div class="col-md-3 mb-4" ng-repeat="kind in gnc.data">
      <div class="card-body">
        <h5 class="card-title">{{kind.name}}</h5>
        <img src="{{kind.snap_url}}" class="img-fluid mw-100 h-auto rounded snapshot" alt="Snapshot">
      </div>
    </div>
  </div>

  <%= magicka_display('gnc') do |display|
    display.pagination(
      'pagination',
      path_method: :kinds
    )
  end %>
</div>