<%=
  angular_safe_link_to(
    :categories, {},
    class: 'btn btn-secondary'
  ) do
    'Back'
  end
%>

<div class="card shadow-sm">
  <div class="card-header bg-primary text-white">
    <h4 class="my-0 font-weight-normal">
      <%= form.only(:form) { "Edit Category" } || "Category Details" %>
    </h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <%= form.input(:name, placeholder: "Category name", class: "form-control form-control-lg") %>
    </div>

    <div class="form-group row mt-4">
      <div class="col-12 text-center">
        <%= form.only(:form) do
          form.button(
            ng_click: 'gnc.save()',
            ng_disabled: 'gnc.ongoing',
            classes: 'btn btn-success btn-lg',
            text: 'Save'
          )
        end %>
      </div>
    </div>
  </div>
</div>