<div class="container">
  <%=
    angular_safe_link_to(
      :new_category, {},
      class: 'btn btn-primary',
      "ng-show" => "gnc.global_state.logged"
    ) do
      'New'
    end
  %>

  <div class="row">
    <div class="col-md-3 mb-4" ng-repeat="category in gnc.data">
      <div class="card-body">
        <%= angular_safe_link_to(
          :category_items,
          { category_slug: '{{category.slug}}'}) do %>
          <h5 class="card-title">{{category.name}}</h5>
          <img src="{{category.snap_url}}" class="img-fluid mw-100 h-auto rounded snapshot" alt="Snapshot">
        <% end %>
        <button
          class="btn btn-sm btn-secondary mt-2"
          ng-click="gnc.subscribe(category.slug)">
          Subscribe
        </button>
      </div>
    </div>
  </div>

  <%= magicka_display('gnc') do |display|
    display.pagination(
      'pagination',
      path_method: :categories
    )
  end %>
</div>