<div class="photo-list">
  <div class="card mb-3" ng-repeat="category in gnc.data">
    <img src="https://via.placeholder.com/300" class="card-img-top" alt="Sample Photo">
    <div class="card-body">
      <h5 class="card-title">Photo #1</h5>
      <p class="card-text">This is a sample description for the photo.</p>
      <p class="card-text">
        <small class="text-muted">Uploaded on January 1, 2025</small>
      </p>
    </div>
  </div>
</div>