<% form.only(:display) do %>
  <div class="links-section">
    <h5>Links</h5>
    <ul>
      <li ng-repeat="link in gnc.data.links track by $index">
        <a href="{{link.url}}" target="_blank">{{link.text}}</a>
      </li>
    </ul>
  </div>
<% end %>
<% form.only(:form) do %>
  <div class="links-section">
    <h5>Links</h5>
    <ul>
      <li ng-repeat="link in gnc.data.links track by $index">
        <% magicka_form('link') do |link_form| %>
          <%= link_form.input(
            "text",
            label: "Text"
          ) %>%
          <%= link_form.input(
            "url",
            label: "URL"
          ) %>%
        <% end %>
      </li>
    </ul>
  </div>
<% end %>