<% form.only(:display) do %>
  <div class="links-section">
    <h5>Links</h5>
    <ul>
      <li ng-repeat="link in gnc.data.links track by $index">
        <a href="{{link.url}}" target="_blank">{{link.text}}</a>
      </li>
    </ul>
  </div>
<% end %>

<% form.only(:form) do %>
  <div class="links-section">
    <h5>Links</h5>
    <ul class="list-unstyled">
      <li class="border p-3 mb-3" ng-repeat="link in gnc.data.links track by $index">
        <% magicka_form('link') do |link_form| %>
          <%= link_form.input(
            "text",
            label: "Text"
          ) %>
          <%= link_form.input(
            "url",
            label: "URL"
          ) %>
        <% end %>
      </li>
    </ul>

    <div class="form-group row">
      <div class="offset-1 col-10">
        <%= form.only(:form) do
          form.button(
            ng_click: 'gnc.addLink()',
            ng_disabled: 'gnc.ongoing',
            classes: 'btn-primary',
            text: 'Add Link'
          )
        end %>
      </div>
    </div>
  </div>
<% end %>