<div class="container">
  <div class="mt-4">
    <%=
      angular_safe_link_to(
        :new_category_item, { category_slug: "{{gnc.category.slug}}" },
        class: 'btn btn-primary',
        "ng-show" => "gnc.global_state.logged"
      ) do
        'New'
      end
    %>

    <%=
      angular_safe_link_to(
        :edit_category, { slug: "{{gnc.category.slug}}" },
        class: 'btn btn-primary',
        "ng-show" => "gnc.global_state.logged"
      ) do
        'Edit'
      end
    %>
  </div>

  <div class="row">
    <div class="col-md-3 mb-4" ng-repeat="item in gnc.data">
      <div class="card-body">
        <%= angular_safe_link_to(
          :category_item,
          { category_slug: '{{gnc.category.slug}}', id: '{{item.id}}'}) do %>
          <h5 class="card-title">{{item.name}}</h5>
          <img src="{{item.snap_url}}" class="img-fluid mw-100 h-auto rounded snapshot" alt="Snapshot">
        <% end %>
        <div class="mt-2" ng-show="item.link">
          <a href="{{item.link.url}}" target="_blank" class="text-primary">
            {{item.link.text}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <%= magicka_display('gnc') do |display|
    display.pagination(
      'pagination',
      path_method: :category_items,
      options: { category_slug: '{{gnc.category.slug}}' },
    )
  end %>
</div>