<div class="container">
  <%=
    angular_safe_link_to(
      :new_category_item, { category_slug: "{{gnc.category.slug}}" },
      class: 'btn btn-primary',
      "ng-show" => "gnc.logged",
    ) do
      'New'
    end

  %>
  
  <div class="row">
    <div class="col-md-3 mb-4" ng-repeat="item in gnc.data">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <img src="{{item.snap_url}}" class="img-fluid" alt="Snapshot">
      </div>
    </div>
  </div>

  <%= magicka_display('gnc') do |display|
    display.pagination(
      'pagination',
      path_method: :category_items
    )
  end %>
</div>
