<div class="container mt-4">
  <div class="mt-4">
    <% magicka_display('gnc.data') do |form| %>
      <%= render partial: 'form', locals: { form: form, title: "Item Details" } %>
    <% end %>
  </div>
</div>